.elevator-room {
    &__container {
        display: grid;
        grid-template-areas: "blank doors buttons";
        grid-template-columns: 1fr 40% 1fr;
        grid-gap: 8px;
        border-bottom: 2px solid #2e2e2e;

        &:last-of-type{
            border-bottom: none;
        }
    }

    &__doors {
        background-color: #a5a5a5;
        margin: 5%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2px;
        grid-column: 2/3;
    }

    &__door {
        background-color: #2e2e2e;
    }

    &__buttons {
        display: grid;
        grid-auto-flow: row;
        place-items: center;
        grid-gap: 8px;
        margin-right: 8px;
        align-self: center;
    }
}
